*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
:root{
	--highlight: #36f4a5;
	--font-color: #fff;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: var(--font-color);
	text-decoration: none;
	font-size: 13px;

}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: var(--highlight);
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	content: '';
	width: 100%;
	height: 2px;
	background: var(--highlight);
	display: block;
	margin: auto;
}
.summary-text{
	width: 90%;
	color: var(--font-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
}
.summary-text h1{
	font-size: 62px;
}
.summary-text p{
	margin: 10px 0 40px;
	font-size: 20px;
	color: var(--font-color);
}
.summary-text img{
	width: 233px;
	height: 289px;
	margin-left: 75px;
	margin-bottom: 10px;
}
.email-link{
	display: inline-block;
	text-decoration: none;
	color: var(--font-color);
	border: 1px solid var(--font-color);
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.email-link:hover{
	border: 1px solid var(--highlight);
	background: var(--highlight);
	transition: 1s;
}

nav .fa{
	display: none;
}

@media(max-width: 700px){
	.summary-text h1{
		font-size: 20px;
	}
	.summary-text img{
		width: 93px;
		height: 115px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: var(--highlight);
		height: 100vh;
		width: 150px;
		top: 0;
		right: -150px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa{
		display: block;
		color: var(--font-color);
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 20px;
	}
}